$active-color: #F67E7E;
$white-color: #fff;
$hover-color: rgba(255,255,255,.96);
$default-grey-color: rgba(255,255,255,.56);

// $grid-sides: 72px;
$grid-spacing: 16px;
$grid-columns: 20;
$grid-card-count: 5;

// Fonts
$font-sans-regular: "OKKO Sans Regular",sans-serif;
$font-sans-medium: "OKKO Sans Medium",sans-serif;
$font-sans-demiBold: "OKKO Sans DemiBold",sans-serif;