@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg, i {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

@font-face {
  font-family: "OKKO Sans Regular";
  src: url(/assets/fonts/ba3f3c077e5dfbb32c49.woff2) format("woff2"), url(/assets/fonts/50d099b4a9ec0c83e993.woff) format("woff"), url(/assets/fonts/06889eb4fc8f9c0d29c5.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Medium";
  src: url(/assets/fonts/4860763ac9aafc34fed8.woff2) format("woff2"), url(/assets/fonts/67d8eb6e6590548ce4be.woff) format("woff"), url(/assets/fonts/adfb05dab176ae46b4c0.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans DemiBold";
  src: url(/assets/fonts/aad9750f51738df25442.woff2) format("woff2"), url(/assets/fonts/27b0440ded638a4403f6.woff) format("woff"), url(/assets/fonts/e53b1e31d834525a53f7.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Bold";
  src: url(/assets/fonts/8edee193111221f91d45.woff2) format("woff2"), url(/assets/fonts/d5d9eefa9e007f2e000d.woff) format("woff"), url(/assets/fonts/8a6e3479fa41c45de4da.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Black";
  src: url(/assets/fonts/1e68bd37f697293de705.woff2) format("woff2"), url(/assets/fonts/63f393ff6f2cf85d267c.woff) format("woff"), url(/assets/fonts/54798a02458b96a08137.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO SuisseIntl Light";
  src: url(/assets/fonts/d26af36d03cd6be36896.otf) format("opentype"), url(/assets/fonts/e87973d3586ae0ad0334.woff2) format("woff2"), url(/assets/fonts/dee3e82fce91ca2fd571.ttf) format("truetype"), url(/assets/fonts/8c69eff40456a0b309ec.woff) format("woff");
  font-display: fallback;
}
body {
  font-family: "OKKO Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.96);
  text-align: left;
  background-color: #000;
  position: relative;
}

i.none {
  display: none;
}

.none {
  display: none !important;
}

.body-active {
  overflow: hidden;
  height: 100%;
}

[data-animation-top=true] {
  transform: translateY(-1000px) !important;
}

[data-animation-top=false] {
  transform: translateY(0) !important;
  transition: transform 0.5s ease;
}

[data-animation-top=false].acter,
[data-animation-top=false].film__title-acters {
  transform: translateY(0) !important;
  transition: transform 0.4s ease;
}

[data-animation-top=false].film__title-acters {
  transition: transform 0.4s ease !important;
}

[data-animation-top=false].film__title:not(.film__title-acters) {
  transition: transform 0.6s ease !important;
}

.loader {
  position: relative;
  display: block;
  top: 45%;
  background-color: currentcolor;
  border-radius: 100%;
  animation: loader-1 30s infinite linear;
}
.loader:before, .loader:after {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader:before {
  width: 4em;
  height: 2em;
  animation: loader-2 0.8s linear infinite;
}
.loader:after {
  width: 2em;
  height: 4em;
  animation: loader-2 1.2s linear infinite;
}

@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
  }
  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
  }
  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
  }
  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
}
.wrapper-carousel {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
  margin: 20px 0;
}
@media screen and (min-width: 375px) {
  .wrapper-carousel {
    margin: 24px 0;
  }
}
@media screen and (min-width: 600px) {
  .wrapper-carousel {
    margin: 32px 0;
  }
}
@media screen and (min-width: 1320px) {
  .wrapper-carousel {
    margin: 48px 0;
  }
}
.wrapper-carousel .carousel {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: calc((100% / 3) - 12px); */
  /* grid-auto-columns: calc((100vw - 16px) / 1.70); */
  /* grid-auto-columns: calc((100vw - 12px)); */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 8px;
  scroll-behavior: smooth !important;
  scrollbar-width: none;
}
.wrapper-carousel .carousel::-webkit-scrollbar {
  display: none;
}
.wrapper-carousel .carousel.no-transition {
  scroll-behavior: smooth !important;
}
.wrapper-carousel .carousel.dragging {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.wrapper-carousel .carousel.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper-carousel .carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-carousel .carousel .card {
  scroll-snap-align: center;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  border-radius: 12px;
  min-width: calc((100vw - 16px) / 1.6);
  /* width: calc((100vw - 12px) / 1.33); */
  margin: 0 8px;
  overflow: hidden;
}
.wrapper-carousel .carousel .card a {
  width: 100%;
}
.wrapper-carousel .carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.wrapper-carousel .carousel .card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
}
.wrapper-carousel .carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.wrapper-carousel .carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 600px) {
  .wrapper-carousel .carousel .card {
    min-width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.wrapper-carousel:hover i#left,
.wrapper-carousel:hover i#right {
  opacity: 1;
}
.wrapper-carousel i#left,
.wrapper-carousel i#right {
  opacity: 0;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(rgba(59, 58, 62, 0.1), rgba(59, 58, 62, 0.1));
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: all 0.1s linear;
  z-index: 3;
}
.wrapper-carousel i#left:first-child,
.wrapper-carousel i#right:first-child {
  left: 22px;
}
.wrapper-carousel i#left:last-child,
.wrapper-carousel i#right:last-child {
  right: 22px;
}
.wrapper-carousel i#left:active,
.wrapper-carousel i#right:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper-carousel i#left:hover,
.wrapper-carousel i#right:hover {
  width: 56.5px;
  height: 56.5px;
  line-height: 56.5px;
}
@media screen and (max-width: 600px) {
  .wrapper-carousel i#left,
  .wrapper-carousel i#right {
    display: none;
  }
}

.slider .card__link:hover {
  z-index: 2;
}

.video__new {
  /* display: none; */
  position: absolute;
  z-index: 1;
}

.video__new video {
  overflow: hidden;
}

@media (hover: hover) {
  .video__new video:hover {
    display: block;
    z-index: 1;
  }
}
.card__inner {
  position: relative;
  /* z-index: -1; */
  padding-bottom: 56.25%;
  width: 100%;
  background: rgba(59, 58, 62, 0.48);
  transition: all 0.8s;
  border-radius: 12px;
}
.card__inner .card__picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  background: transparent;
}
.card__inner .card__picture .picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
  background-color: rgba(59, 58, 62, 0.48);
}
.card__inner .card__information {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.96);
}
.card__inner .card__information .information__inner {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__inner .card__information .information__inner .picture-title {
  width: 112px;
  height: 61px;
  transform: scale(0.8);
  transform-origin: left;
}
@media screen and (min-width: 375px) {
  .card__inner .card__information .information__inner .picture-title {
    width: 136px;
    height: 74px;
  }
}
@media screen and (min-width: 600px) {
  .card__inner .card__information .information__inner .picture-title {
    width: 192px;
    height: 103px;
  }
}
@media screen and (min-width: 960px) {
  .card__inner .card__information .information__inner .picture-title {
    width: 208px;
    height: 113px;
  }
}
@media screen and (min-width: 1320px) {
  .card__inner .card__information .information__inner .picture-title {
    width: 256px;
    height: 139px;
  }
}
.card__inner .card__information .information {
  display: flex;
  gap: 12px;
  margin-top: 1.5em;
}
.card__inner .card__information .information span:not(:first-child) {
  font-size: 14px;
  line-height: 16px;
  font-family: "OKKO Sans Medium", sans-serif;
  color: #fff;
  text-shadow: 0 0.75px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.2)) drop-shadow(0 -1px 15px rgba(0, 0, 0, 0.12));
}
@media screen and (min-width: 375px) {
  .card__inner .card__information .information span:not(:first-child) {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (min-width: 600px) {
  .card__inner .card__information .information span:not(:first-child) {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .card__inner .card__information .information span:not(:first-child) {
    font-size: 18px;
    line-height: 22px;
  }
}
.card__inner .card__information .information .rating-wrap {
  background-color: rgba(139, 136, 146, 0.32);
  padding: 0 5px;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.card__inner .card__information .information .rating-wrap .rating {
  font-family: "OKKO Sans DemiBold", sans-serif;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  font-size: 11px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.96);
}
@media screen and (min-width: 375px) {
  .card__inner .card__information .information .rating-wrap .rating {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 600px) {
  .card__inner .card__information .information .rating-wrap .rating {
    font-size: 13px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1320px) {
  .card__inner .card__information .information .rating-wrap .rating {
    font-size: 15px;
    line-height: 24px;
  }
}
.card__inner .card__information .information .rating-wrap.active {
  background-color: #12b77c;
}
.card__inner .card__video {
  position: absolute;
  inset: 0;
}
.card__inner .card__video .video {
  -o-object-position: center center;
     object-position: center center;
}

.video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  transition: all 0.4s ease;
}

.volume-toggle {
  background: radial-gradient(circle at 17.0250244141px 43.5625px, rgba(188, 186, 193, 0.32) 0%, rgba(139, 136, 146, 0.32) 100%);
  position: absolute;
  bottom: 24px;
  right: 24px;
  /* background-color: rgba(24, 24, 24, 0.5); */
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-toggle:hover {
  background: rgba(139, 136, 146, 0.32);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.volume-toggle i {
  font-size: 16px;
}

@media (hover: hover) {
  .card__inner:hover .card__picture {
    opacity: 0;
  }
  .card__inner:hover .video,
  .card__inner:hover .volume-toggle {
    /* transition: all 700ms ease; */
    transition: all 0.4 s ease;
    opacity: 1;
  }
}
/* Ваши стили для страницы, если есть */
.hover-element {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  background: radial-gradient(circle at var(--coord-x) var(--coord-y), rgba(188, 186, 193, 0.32) 0%, rgba(139, 136, 146, 0.32) 100%);
}
.hover-element:hover::before {
  animation: none;
}

.wrap-header {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: transform 0.3s ease;
}

.wrap-header.hide {
  transform: translatey(calc(-60px - 0.1em));
}
@media screen and (min-width: 1320px) {
  .wrap-header.hide {
    transform: translatey(calc(-70px - 0.1em));
  }
}

.header {
  padding: 0 12px;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.96);
  transition: background-color 0.4s ease;
}
.header.max-bg {
  transition: background-color 0.4s ease;
  background-color: #1b1a1d;
}
@media screen and (min-width: 375px) {
  .header {
    padding: 0 16px;
  }
}
@media screen and (min-width: 600px) {
  .header {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding: 0 72px;
    height: 70px;
  }
}
@media screen and (min-width: 1720px) {
  .header {
    padding: 0 96px;
  }
}
.header .nav {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  height: 100%;
}
.header .nav .nav__logo {
  flex: 0 1 auto;
  color: inherit;
  height: auto;
  width: 4.74em;
  margin-right: 2.5em;
  background-color: transparent;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .header .nav {
    justify-content: space-between;
  }
}
.header .nav .nav__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .header .nav .nav__list {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    padding: 0 32px;
    flex-direction: column;
    padding-top: 15px;
    z-index: 5;
    height: calc(100vh - 60px);
    background-color: #1b1a1d;
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}
@media screen and (max-width: 600px) {
  .header .nav .nav__list {
    padding: 15px 16px 0;
  }
}
@media screen and (max-width: 375px) {
  .header .nav .nav__list {
    padding: 15px 16px 0;
  }
}
@media screen and (max-width: 320px) {
  .header .nav .nav__list {
    padding: 15px 12px 0;
  }
}
.header .nav .nav__list .list__item {
  margin: 0;
  padding: 0 0.72em;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  font-family: "OKKO Sans Medium", sans-serif;
}
@media screen and (max-width: 960px) {
  .header .nav .nav__list .list__item {
    padding: 0;
    margin-bottom: 25px;
  }
  .header .nav .nav__list .list__item:last-child {
    display: block !important;
  }
}
.header .nav .nav__list .list__item a {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}
@media screen and (max-width: 960px) {
  .header .nav .nav__list .list__item a {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .header .nav .nav__list .list__item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    left: -10px;
    top: -5px;
    background-color: #f5f4f6;
    opacity: 0;
  }
  .header .nav .nav__list .list__item.active::after {
    opacity: 1;
  }
}
@media screen and (min-width: 960px) {
  .header .nav .nav__list .list__item a {
    font-size: 16px;
    line-height: 24px;
    transition: color 0.1s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.56);
  }
  .header .nav .nav__list .list__item a:hover {
    color: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__list .list__item a:hover .hover-svg {
    stroke: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__list .list__item a:hover .hover-path {
    fill: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__list .list__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transition: opacity 0.3s;
    background: linear-gradient(270deg, transparent 0.17%, #5d0ef5 15.74%, #fff 50%, #5d0ef5 83.22%, transparent 100%);
    opacity: 0;
  }
  .header .nav .nav__list .list__item.active a {
    color: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__list .list__item.active::after {
    opacity: 1;
  }
}
.header .nav .nav__widjets {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 23px;
  transition: color 0.2s ease;
  font-family: "OKKO Sans Medium", sans-serif;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .header .nav .nav__widjets {
    gap: 14px;
  }
}
.header .nav .nav__widjets .nav__search {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.56);
  height: 100%;
  cursor: pointer;
  transition: inherit;
}
.header .nav .nav__widjets .nav__search i {
  font-size: inherit;
  color: inherit;
}
.header .nav .nav__widjets .nav__search svg {
  height: 100%;
  transform: translateY(2px);
}
@media screen and (max-width: 960px) {
  .header .nav .nav__widjets .nav__search svg {
    stroke: rgba(255, 255, 255, 0.96);
  }
}
.header .nav .nav__widjets .nav__search svg#nav-x-mark {
  transform: translateY(1px);
}
.header .nav .nav__widjets .nav__search:hover {
  color: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__widjets .nav__search:hover .hover-svg {
  stroke: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__widjets .nav__search:hover .hover-path {
  fill: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__widjets .nav__sign {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 0.5em;
  height: 100%;
  transition: inherit;
  color: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__widjets .nav__sign .hover-path {
  fill: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__widjets .nav__sign span {
  display: none;
}
@media screen and (min-width: 960px) {
  .header .nav .nav__widjets .nav__sign {
    color: rgba(255, 255, 255, 0.56);
  }
  .header .nav .nav__widjets .nav__sign:hover {
    color: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__widjets .nav__sign:hover .hover-svg {
    stroke: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__widjets .nav__sign:hover .hover-path {
    fill: rgba(255, 255, 255, 0.96);
  }
  .header .nav .nav__widjets .nav__sign .hover-path {
    fill: rgba(255, 255, 255, 0.56);
  }
  .header .nav .nav__widjets .nav__sign span {
    display: block;
  }
}
.header .nav .nav__widjets .nav__sign i {
  font-size: 22px;
  fill: currentColor;
  height: 100%;
}
@media screen and (min-width: 960px) {
  .header .nav .nav__widjets .nav__menu {
    display: none;
  }
}
.header .nav .nav__search-films {
  display: none;
}
@media screen and (min-width: 960px) {
  .header .nav .nav__search-films {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (min-width: 960px) and (min-width: 960px) {
  .header .nav .nav__search-films .search {
    min-width: 396px;
  }
}
@media screen and (min-width: 960px) and (min-width: 1320px) {
  .header .nav .nav__search-films .search {
    min-width: 600px;
  }
}
@media screen and (min-width: 960px) {
  .header .nav .nav__search-films .search form {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    gap: 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.56);
  }
}

.header-active, .nav__search-films-max {
  background-color: #101011;
}
@media screen and (max-width: 960px) {
  .header-active, .nav__search-films-max {
    background-color: #1b1a1d;
  }
}
.header-active .nav, .nav__search-films-max .nav {
  justify-content: space-between;
}
.header-active .films-active, .nav__search-films-max .films-active {
  height: 50vh !important;
}
.header-active .films, .nav__search-films-max .films {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  padding-top: 30px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-color: #101011;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media screen and (min-width: 1320px) {
  .header-active .films, .nav__search-films-max .films {
    top: 70px;
  }
}
.header-active .films .film__wrap, .nav__search-films-max .films .film__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.header-active .films .film__title, .nav__search-films-max .films .film__title {
  color: rgba(255, 255, 255, 0.96);
  margin: 0 0 10px;
  padding-left: 10px;
  font-size: 24px;
  line-height: 30px;
  font-family: "OKKO Sans DemiBold", sans-serif;
}
.header-active .films .film__title-acters, .nav__search-films-max .films .film__title-acters {
  font-size: 14px;
  line-height: 18px;
  font-family: "OKKO Sans Medium", sans-serif;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.56);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.header-active .films .film, .nav__search-films-max .films .film {
  padding: 10px;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.header-active .films .film:hover, .nav__search-films-max .films .film:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header-active .films .film__row, .nav__search-films-max .films .film__row {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.header-active .films .film__img, .nav__search-films-max .films .film__img {
  position: relative;
  flex-shrink: 0;
  flex-basis: 110px;
  width: 100%;
}
.header-active .films .film__img::before, .nav__search-films-max .films .film__img::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.header-active .films .film__img picture, .nav__search-films-max .films .film__img picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.header-active .films .film__img img, .nav__search-films-max .films .film__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 3px;
}
.header-active .films .film__subtitle, .nav__search-films-max .films .film__subtitle {
  color: rgba(255, 255, 255, 0.96);
  font-size: 14px;
  line-height: 20px;
  font-family: "OKKO Sans Regular", sans-serif;
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.header-active .films .acter_subtitle, .nav__search-films-max .films .acter_subtitle {
  font-size: 12px;
  line-height: 18px;
  font-family: "OKKO Sans Regular", sans-serif;
  color: rgba(255, 255, 255, 0.56);
}
@media screen and (min-width: 960px) {
  .header-active .films .films__inner, .nav__search-films-max .films .films__inner {
    max-width: 1150px;
    padding: 0 10px;
    margin-inline: auto;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1165px) {
  .header-active .films .films__inner, .nav__search-films-max .films .films__inner {
    padding: 0 0px;
  }
}
@media screen and (min-width: 960px) {
  .header-active .films .film__title:not(.film__title-acters), .nav__search-films-max .films .film__title:not(.film__title-acters) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .header-active .films .acter_subtitle, .nav__search-films-max .films .acter_subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .header-active .films .film, .nav__search-films-max .films .film {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3%;
    max-width: 33.3%;
    width: 33.3%;
  }
  .header-active .films .film__img, .nav__search-films-max .films .film__img {
    flex-basis: 125px;
  }
  .header-active .films .film__subtitle, .nav__search-films-max .films .film__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .header-active .films .film__subtitle i, .nav__search-films-max .films .film__subtitle i {
    font-size: 15px;
  }
}
.header-active .films.hide, .nav__search-films-max .films.hide {
  height: 0;
  opacity: 0;
  padding-top: 30px;
}
.header-active .films-overlay, .nav__search-films-max .films-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
@media screen and (min-width: 960px) {
  .header-active .films-overlay, .nav__search-films-max .films-overlay {
    top: 60px;
  }
}
@media screen and (min-width: 1320px) {
  .header-active .films-overlay, .nav__search-films-max .films-overlay {
    top: 70px;
  }
}

@media screen and (min-width: 960px) {
  .nav__search-films-max {
    display: none;
  }
}
.nav__search-films-max .search {
  background-color: #1b1a1d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.96);
}
.nav__search-films-max .search form {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 15px;
  height: 60px;
  position: relative;
  color: rgba(255, 255, 255, 0.56);
  margin: 0 15px;
}
.nav__search-films-max .films {
  position: fixed;
  top: 121px;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  background-color: #101011;
}
.nav__search-films-max .films .films__inner {
  padding: 0 5px;
}
.nav__search-films-max .films .films__inner .film__title {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-family: "OKKO Sans DemiBold", sans-serif;
  padding-left: 10px;
}
.nav__search-films-max .films .films__inner .film__title-acters {
  font-size: 14px;
  line-height: 18px;
  font-family: "OKKO Sans Medium", sans-serif;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.56);
  text-transform: uppercase;
  margin: 15px 0;
}
.nav__search-films-max .films .films__inner .film__subtitle {
  margin-bottom: 0;
}
.nav__search-films-max .films .films__inner .film__wrap {
  display: block;
}

.input-styles {
  position: absolute;
  font-family: "OKKO Sans Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  left: 31px;
  width: calc(100% - 31px);
  border-radius: 0;
  padding: 0;
  outline: none;
  margin: 0;
  color: rgba(255, 255, 255, 0.96);
  z-index: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 375px) {
  .input-styles {
    font-size: 13px;
    line-height: 19px;
  }
}
@media screen and (min-width: 600px) {
  .input-styles {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 960px) {
  .input-styles {
    width: calc(100% - 40px);
    left: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .input-styles {
    font-size: 16px;
    line-height: 24px;
  }
}
.input-styles::-moz-placeholder {
  color: rgba(255, 255, 255, 0.56);
}
.input-styles::placeholder {
  color: rgba(255, 255, 255, 0.56);
}/*# sourceMappingURL=main.css.map */